<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainScreen"
        tools:targetApi="31">

        <!-- MainActivity를 시작 액티비티로 설정 -->
        <activity
            android:name=".MainscreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SecondClassActivity 추가 -->
        <activity
            android:name=".SecondClassActivity"
            android:exported="true" />

        <!-- 기존 활동들 유지 -->
        <activity android:name=".CreateAccountActivity"/>
        <activity android:name=".ForgotIDActivity"/>
        <activity android:name=".ForgotIDActivity2"/>
        <activity android:name=".ForgotPasswordActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".BusanActivity"/>
        <activity android:name=".JejuActivity"/>
        <activity android:name=".BookActivity"/>
        <activity android:name=".Book2Activity"/>
        <activity android:name=".ReviewActivity"/>
        <activity android:name=".WriteCommentActivity"/>
        <activity android:name=".MyReservationActivity"/>
        <activity android:name=".RestaurantsActivity"/>
        <activity android:name=".AskActivity" />
        <activity android:name=".TermsOfServiceActivity" />
        <activity android:name=".PrivacyPolicyActivity" />
        <activity android:name=".DeleteAccountActivity" /><!-- 이 줄 추가 -->

    </application>

</manifest>